html{
    background-color: #35176e;
}
#tituloGeneral{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 60px;
    margin: 50px;
}
.bloque{
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: auto;
    background-size: 100% 100%;
    padding-right: 30px;
    border: 5px solid black;
    
}
#intro{
    background-color: black;
    color: white;   
}
#intro p{
    max-width: 50%;
    text-align: justify;  
}
.celda{
    text-align: right;
    background-color: rgb(54, 51, 51);
    /* flex: 1 1 45%; */
    color: white;
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:;*/
    margin-left:60%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.imagen{
    margin-top: 500px;
    height: 100px;
    width: 100%;
    background-color: black;
}
.fecha{
    font-size: 30px;
    font-weight: 800;
}
.muchotexto{
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color:#333;
    padding: 10px;
}
.almeria{
    background-image: url(Banderas/BanderaAlmeria.png);
}
.cordoba{
    background-image: url(Banderas/BanderaCordoba.png); 
}
.jaen{
    background-image: url(Banderas/BanderaJaen.png);
}
.huelva{
    background-image: url(Banderas/BanderaHuelva.png);
}
.cadiz{
    background-image: url(Banderas/BanderaCadiz.jpg);
}
.malaga{
    background-image: url(Banderas/BanderaMalaga.png);
}
.sevilla{
    background-image: url(Banderas/BanderaSevilla.png);
}
.granada{
    background-image: url(Banderas/BanderaGranada.png);
}
.tituloFosas{
    text-align: center;
    font-size: 70px;
    background-color: purple;
    font-style: italic;
    color: white;
}
.URL{
    color: blue;
    font-size: 20px;
    
}
h2{
    text-align: center;
    color: white;
    
}
p{
    padding: 5%;
}
/* -menu-

#menu ul {
 list-style:none;
 margin:0;
 padding:0;
}

 -items del menu- 

#menu ul li {
 background-color:#2e518b;
}

 -enlaces del menu- 

#menu ul a {
 display:block;
 color:#fff;
 text-decoration:none;
 font-weight:400;
 font-size:15px;
 padding:10px;
 font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
 text-transform:uppercase;
 letter-spacing:1px;
}

 -items del menu- 

#menu ul li {
 position:relative;
 float:left;
 margin:0;
 padding:0;
}

 -efecto al pasar el ratón por los items del menu- 

#menu ul li:hover {
 background:#5b78a7;
}

 -menu desplegable -

#menu ul ul {
 display:none;
 position:absolute;
 top:100%;
 left:0;
 background:#eee;
 padding:0;
}

 -items del menu desplegable- 

#menu ul ul li {
 float:none;
 width:150px
}

 -enlaces de los items del menu desplegable -

#menu ul ul a {
 line-height:120%;
 padding:10px 15px;
}

 -items del menu desplegable al pasar el ratón- 

#menu ul li:hover > ul {
 display:block;
}
*/

footer{
background: blueviolet;
color: white;  
}   
